* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  padding-top: 70px;
}

/* Header */
.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  z-index: 1000;
  border-bottom: 1px solid #000;
}

/* Navegación izquierda */
.nav-left {
  display: flex;
  gap: 25px;
}

.nav-left a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

/* Logo centrado */
.logo-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo-center img {
  width: 48px;
  cursor: pointer;
}

/* Navegación derecha */
.nav-right {
  display: flex;
  gap: 20px;
}

.nav-right .icon img {
  width: 33px; 
  cursor: pointer;
}

/* Banner */
.banner {
    width: 100%;
    position: relative;
    height: 65vh;
}

.banner-link {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.banner-boton {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.banner-boton .arrow {
    width: 300px;
    height: auto;
    pointer-events: none;
}